body {
background: url("https://drupal-prod.visitcalifornia.com/sites/default/files/styles/fluid_1920/public/2021-04/CaliforniaSurfingDay_Stock_RF_116354875.jpg.webp?itok=9AO7QA-t") center / cover no-repeat fixed;
}

h1 {
    margin: 0;
    text-align: center;
    color: red;       
    padding: 0 1rem;    
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 10vh auto 0;  
    padding: 0 1rem;  
    font-size: 64px;   
    line-height: 1.1; 
}

h2 {
    margin: 0;
    text-align: center;
    color: yellow;       
    padding: 0 1rem;    
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 30px auto 30px;  
    padding: 0 1rem;  
    font-size: 64px; 
    line-height: 1.1; 
}

p {
    margin: 0;
    text-align: center;
    color: yellow;      
    padding: 0 1rem;    
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 3px auto 0;  
    padding: 10px 10px;  
    font-size: px;  
    line-height: 1.1; 
    background: gray


}
.card {
    display: flex;
    flex-wrap: nowrap;       
    justify-content: center;  
    align-items: flex-end;   
    gap: 24px;              
}

.card img {
    
    flex-wrap: nowrap; 
    width: 250px;
    height: 250px;
    object-fit: cover;
     display: block;
}

.img-wrap {          
  position: relative;  
  display: inline-block;
}

.photo {
  position: relative; 
  display: inline-block;
}

.photo img {
  display: block;   
}

.photo .name {
  position: absolute;
  top: 40%;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  color: greenyellow;
  border-radius: 4px;
  padding: 20px 20px;
  font-weight: 600;
  text-align: center;
  font-size: 50px;
  display: inline-block;           
}